body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background: linear-gradient(to right, #e2e2e2, #c9d6ff);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  color: #333;
}

.sheet-container {
  width: 90%;
  max-width: 800px;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.sheet-container h1 {
  font-size: 1.8rem;
  color: #444;
  margin-bottom: 10px;
}

.sheet-container p {
  font-size: 1rem;
  color: #555;
  margin-bottom: 20px;
}

.back-button {
  position: absolute;
  top: 20px;
  left: 20px;
  text-decoration: none;
  font-size: 1rem;
  color: white;
  background-color: #7d7dbe;
  padding: 10px 20px;
  border-radius: 8px;
  transition: background-color 0.3s, transform 0.2s;
}

.back-button:hover {
  background-color: #51518a;
  transform: translateY(-2px);
}

.back-button:active {
  background-color: #7d7dbe;
}


.sheet-btn {
  display: inline-block;
  padding: 10px 20px;
  font-size: 1rem;
  color: white;
  background-color: lightslategray;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.sheet-btn:hover {
  background-color: rgb(97, 111, 124);
}


.sheet-embed {
  margin-top: 20px;
  border: none;
  border-radius: 5px;
  overflow: hidden;
  background-color: #f9f9f9;
}
